body
	background-color: $color-bg-dark

.A4
	display: flex
	flex-direction: column
	flex: 1
	justify-content: space-between
	// width: dpi-corrected(2480px)
	width: 210mm
	// height: 297mm
	margin: 2rem auto
	padding: dpi-corrected(61px) dpi-corrected(100px) dpi-corrected(41px) dpi-corrected(145px)
	background-color: $color-bg-a4
	box-shadow: 0 0 0.5cm rgba(0,0,0,0.5)


@page
	size: A4
	margin: 0
	padding: 0

@media print
	// html, body
	// 	width: 210mm
	// 	height: 297mm

	.A4
		width: 210mm
		height: 297mm
		box-shadow: none
		margin: 0

	.print_not
		display: none !important

	.print
		display: block !important

