body
	background-color: $color-bg-dark

// button
// 	&:focus
// 		outline: none !important

*:focus, *:active, *:visited
	outline: none !important

a, div
	-webkit-tap-highlight-color: rgba(0,0,0,0)


// container for everything that is to be printed
.A4
	// own display
	display: flex
	flex-direction: column
	flex: 1
	justify-content: space-between

	// own sizing and layout
	width: $page-width
	margin: 2rem auto
	@include print-corrected(padding, $top:61px, $right:100px, $bottom:41px, $left:145px )

	// colours, shadows, etc.
	background-color: $color-bg-a4
	box-shadow: 0 0 0.5cm rgba(0,0,0,0.5)

// Mobile
@media screen and ( max-width: $bp-mobile-to-a4 )
	.A4
		// own sizing and layout
		width: 100vw
		margin-top: 0
		padding: 23px 16px

// Print
@page
	size: A4
	margin: 0
	padding: 0

@media print
	.A4
		width: $page-width-print
		height: $page-height-print
		box-shadow: none
		margin: 0

	.print_not
		display: none !important

	.print
		display: block !important
