:root
	font-family: $font-text
	color: $color-font-description
	// font-size: 16px

h1, h2, h3, h4, h5
	font-family: $font-headlines
	font-weight: 700

h1
	@include print-corrected(font-size, $value:72px )
	@include print-corrected(letter-spacing, $value:36px ) // 50% of font size
	@include print-corrected(line-height, $value:81px )
	color: $color-font-headline

h2
	@include print-corrected(font-size, $value:48px )
	@include print-corrected(line-height, $value:54px )
	color: $color-font-subtitle

h3
	@include print-corrected(font-size, $value:38px )
	@include print-corrected(line-height, $value:50px )
	color: $color-font-subtitle

h4, h5
	@include print-corrected(font-size, $value:36px )
	@include print-corrected(line-height, $value:48px )
	color: $color-font-headline

li
	@include print-corrected(font-size, $value:32px )
	@include print-corrected(line-height, $value:50px )

p, a
	@include print-corrected(font-size, $value:32px )
	@include print-corrected(line-height, $value:46px )

a
	text-decoration: inherit
	color: inherit
	transition: color 300ms ease-in-out

	&:hover
		color: $color-accent

// Text transforms
h3, h4
	text-transform: uppercase

// Mobile
@media screen and ( max-width: $bp-mobile-to-a4 )

	h1
		font-size: 20px
		line-height: 22px
		letter-spacing: 9px // hack because of Figma inaccuracy

	h2
		font-size: 16px
		line-height: 32px

	h3
		font-size: 16px
		line-height: 24px

	h4, h5
		font-size: 14px
		line-height: 22px

	li
		font-size: 14px
		line-height: 22px

	p, a
		font-size: 14px
		line-height: 16px
