:root
	font-family: 'Libre Franklin'

	h1
		font-family: 'Libre Franklin'
		font-weight: 700
		font-size: 1.8rem
		letter-spacing: 2rem

	.font_monospaced
		font-family: 'Roboto Slab'
		font-weight: 700


