@use "sass:meta"

// Used to add a size correction of Figma sizes for screen and print versions
@mixin print-corrected($property, $args...)

  @each $name, $size in meta.keywords($args)
    +correction(132/300, $property, $size, $name)

  @media print
    @each $name, $size in meta.keywords($args)
      +correction(88/300, $property, $size, $name)

// Correction logic to handle paddings, margins, etc more or less gracefully
=correction($correction-factor, $property, $size, $name, $default-name: value)
  @if $name == $default-name
    #{$property}: $size * $correction-factor
  @else
    #{$property}-#{$name}: $size * $correction-factor

=inset-shadow($big: false)
  &:before
    content: ""
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    border-radius: 50%
    @if $big
      box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(170, 170, 204, 0.25), inset 5px 5px 10px rgba(170, 170, 204, 0.5)
    @else
      box-shadow: inset -0.479839px -0.479839px 0.959677px rgba(255, 255, 255, 0.5), inset 0.479839px 0.479839px 0.959677px rgba(170, 170, 204, 0.25), inset 1.1996px 1.1996px 2.39919px rgba(170, 170, 204, 0.5), inset -1.1996px -1.1996px 2.39919px #FFFFFF

////////////////////////////////////////////////////////////////////////

@function em($size, $context: 16)
  @return ($size/$context) * 1em

@function img-url($image)
  @return url('../img/#{$image}')

=image($image)
  background-image: img-url($image)

=trans($what: all, $dur: 0.2s, $easing: ease)
  transition: $what $dur $easing

=smooth-scroll
  -webkit-overflow-scrolling: touch

=smooth-font
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

=gpu
  transform: translate3d(0,0,0)

=md
  +r(1023)
    @content

=sm
  +r(767)
    @content

=xs
  +r(599)
    @content
