
$color-grey-light: #D0D0E4
$color-grey: #A6ABBD
$color-grey-dark: #73738C
$color-grey-darker: #565666
$color-grey-darkest: #3F3F4B

$color-accent: #FF851B

$color-bg-dark: #CCCCCC
$color-bg-a4: #FFFFFF
$color-bg-highlight: #F5F5FA

$color-font-subtitle: $color-grey-light
$color-font-technologies: $color-grey
$color-font-description: $color-grey-dark
$color-font-headline: $color-grey-darkest
$color-font-caption: $color-grey-darkest

$font-text: 'Inconsolata'
$font-technologies: 'Inconsolata'
$font-headlines: 'Courier Prime'
$font-caption: 'Courier Prime'
