$color-accent: #FF851B

$color-bg-dark: black
$color-bg-light: white
$color-bg-accent: #E7E7E7

$color-font-on-bg-dark: white
$color-font-on-bg-light: black
$color-font-json: #99C1DA
$color-font-json-key: #996517
$color-font-accent: $color-accent
