<!-- BEGIN gauge -->
<div class="gauge">

    <!-- BEGIN gauge__main -->
    <div class="gauge__main">
        {{#resolveSvg image}}
            <img src="{{icon}}" alt="{{caption}}" />
        {{/resolveSvg}}
    </div>
    <!-- END gauge__main -->

    <p class="gauge__caption">{{caption}}</p>

</div>
<!-- END gauge -->
