<!-- BEGIN gauge -->
<div class="gauge">

    <!-- BEGIN gauge__outer -->
    <div class="gauge__outer">

        <!-- BEGIN gauge__piechart -->
        <div class="gauge__piechart">
            <svg viewBox="0 0 32 32">
                <circle style="stroke-width: 16; stroke-dashoffset: 0;" class="background_circle" cx="16" cy="16" r="8"></circle>
                <circle style="stroke-width: 16; stroke-dashoffset: 0; stroke-dasharray: {{percentage}};" cx="16" cy="16" r="8"></circle>
            </svg>
        </div>
        <!-- END gauge__piechart -->

        <!-- BEGIN gauge__inner -->
        <div class="gauge__inner">
            {{#resolveSvg image}}
                <img src="{{icon}}" alt="{{caption}}" />
            {{/resolveSvg}}
        </div>
        <!-- END gauge__inner -->
    </div>
    <!-- END gauge__outer -->

    <p class="gauge__caption">{{caption}}</p>

</div>
<!-- END gauge -->
