<!-- BEGIN career -->
<div class="career">

    <h3 class="career__subtitle projects__subtitle">Recent projects</h3>

    <!-- BEGIN career__projects -->
    <div class="career__projects">
        {{#getJsonContext 'src/templates/data/project_item_yourdata_ida2_parttime.json'}}
        {{> career_project_item this }}
        {{/getJsonContext}}
        {{#getJsonContext 'src/templates/data/project_item_yourdata_ida.json'}}
        {{> career_project_item this }}
        {{/getJsonContext}}
        {{#getJsonContext 'src/templates/data/project_item_yourdata_ccs.json'}}
        {{> career_project_item this }}
        {{/getJsonContext}}
        {{#getJsonContext 'src/templates/data/project_item_mellowmeals.json'}}
        {{> career_project_item this }}
        {{/getJsonContext}}
        {{#getJsonContext 'src/templates/data/project_item_twt.json'}}
        {{> career_project_item this }}
        {{/getJsonContext}}
        {{#getJsonContext 'src/templates/data/project_item_ivanna.json'}}
        {{> career_project_item this }}
        {{/getJsonContext}}
        {{#getJsonContext 'src/templates/data/project_item_pauls.json'}}
        {{> career_project_item this }}
        {{/getJsonContext}}
        {{#getJsonContext 'src/templates/data/project_item_icebaby.json'}}
        {{> career_project_item this }}
        {{/getJsonContext}}
        {{#getJsonContext 'src/templates/data/project_item_schwarzenberger.json'}}
        {{> career_project_item this }}
        {{/getJsonContext}}
    </div>
    <!-- END career__projects -->

    <div class="career__education__wrapper">
        <h3 class="career__subtitle education__subtitle">Education</h3>
        <div class="swiper-button print_not">
            <!-- If we need pagination -->
            {{!-- <div class="swiper-pagination"></div> --}}
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

    <!-- BEGIN career__education -->
    <!-- Custom swiper wrapper for navigation -->
    <div class="career__education swiper">
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    {{#getJsonContext 'src/templates/data/education_item_msc.json'}}
                    {{> career_education_item this }}
                    {{/getJsonContext}}
                </div>
                <div class="swiper-slide">
                    {{#getJsonContext 'src/templates/data/education_item_bsc.json'}}
                    {{> career_education_item this }}
                    {{/getJsonContext}}
                </div>
                <div class="swiper-slide">
                    {{#getJsonContext 'src/templates/data/education_item_ml.json'}}
                    {{> career_education_item this }}
                    {{/getJsonContext}}
                </div>
                <div class="swiper-slide">
                    {{#getJsonContext 'src/templates/data/education_item_architecture.json'}}
                    {{> career_education_item this }}
                    {{/getJsonContext}}
                </div>
                <div class="swiper-slide">
                    {{#getJsonContext 'src/templates/data/education_item_frontend.json'}}
                    {{> career_education_item this }}
                    {{/getJsonContext}}
                </div>
                <div class="swiper-slide">
                    {{#getJsonContext 'src/templates/data/education_item_data_engineering.json'}}
                    {{> career_education_item this }}
                    {{/getJsonContext}}
                </div>
                <div class="swiper-slide">
                    {{#getJsonContext 'src/templates/data/education_item_devops.json'}}
                    {{> career_education_item this }}
                    {{/getJsonContext}}
                </div>
                <div class="swiper-slide">
                    {{#getJsonContext 'src/templates/data/education_item_hacking.json'}}
                    {{> career_education_item this }}
                    {{/getJsonContext}}
                </div>
            </div>

        </div>

        <!-- BEGIN career__visit -->
        <div class="career__visit print">
            <h5>visit <span>dmitriy.sevkovych.com</span><br /> for more information</h5>
        </div>
        <!-- END career__visit -->
    </div>
    <!-- END career__education -->

</div>
<!-- END career -->
