<!-- BEGIN career -->
<div class="career">

    <h3 class="career__subtitle">Recent projects</h3>

    <!-- BEGIN career__projects -->
    <div class="career__projects">
        {{#getJsonContext 'src/templates/data/project_item_yourdata_ida.json'}}
        {{> career_project_item this }}
        {{/getJsonContext}}
        {{#getJsonContext 'src/templates/data/project_item_yourdata_ccs.json'}}
        {{> career_project_item this }}
        {{/getJsonContext}}
        {{#getJsonContext 'src/templates/data/project_item_mellowmeals.json'}}
        {{> career_project_item this }}
        {{/getJsonContext}}
        {{#getJsonContext 'src/templates/data/project_item_twt.json'}}
        {{> career_project_item this }}
        {{/getJsonContext}}
        {{#getJsonContext 'src/templates/data/project_item_ivanna.json'}}
        {{> career_project_item this }}
        {{/getJsonContext}}
        {{#getJsonContext 'src/templates/data/project_item_pauls.json'}}
        {{> career_project_item this }}
        {{/getJsonContext}}
        {{#getJsonContext 'src/templates/data/project_item_icebaby.json'}}
        {{> career_project_item this }}
        {{/getJsonContext}}
        {{#getJsonContext 'src/templates/data/project_item_schwarzenberger.json'}}
        {{> career_project_item this }}
        {{/getJsonContext}}
    </div>
    <!-- END career__projects -->

    <h3 class="career__subtitle">Education</h3>

    <!-- BEGIN career__education -->
    <div class="career__education">
        {{#getJsonContext 'src/templates/data/education_item_msc.json'}}
        {{> career_education_item this }}
        {{/getJsonContext}}
        {{#getJsonContext 'src/templates/data/education_item_bsc.json'}}
        {{> career_education_item this }}
        {{/getJsonContext}}
        {{#getJsonContext 'src/templates/data/education_item_ml.json'}}
        {{> career_education_item this }}
        {{/getJsonContext}}
        {{#getJsonContext 'src/templates/data/education_item_frontend.json'}}
        {{> career_education_item this }}
        {{/getJsonContext}}
        {{#getJsonContext 'src/templates/data/education_item_data_engineering.json'}}
        {{> career_education_item this }}
        {{/getJsonContext}}
        {{#getJsonContext 'src/templates/data/education_item_hacking.json'}}
        {{> career_education_item this }}
        {{/getJsonContext}}
        {{#getJsonContext 'src/templates/data/education_item_devops.json'}}
        {{> career_education_item this }}
        {{/getJsonContext}}

        <!-- BEGIN career__visit -->
        <div class="career__visit print">
            <h5>visit <span>dmitriy.sevkovych.com</span><br/> for more information</h5>
        </div>
        <!-- END career__visit -->
    </div>
    <!-- END career__education -->

</div>
<!-- END career -->
