<!-- BEGIN coding -->
<div class="coding">

    <!-- BEGIN coding__subtitle -->
    <div class="coding__subtitle">
        <div class="coding__subtitle__inner clickme">
            <h3 class="coding__subtitle__text">I do...</h3>
        </div>
    </div>
    <!-- END coding__subtitle -->

    <!-- BEGIN coding__overview -->
    <div class="coding__overview">
        {{> _gauge image="icon_java" caption="Java" percentage="50 0" }}
        {{> _gauge image="icon_javascript_bg" caption="JavaScript" percentage="50 0" }}
        {{> _gauge image="icon_postgresql" caption="SQL"percentage="50 0"}}
        {{> _gauge image="icon_python" caption="Python" percentage="50 0" }}
        {{> _gauge image="icon_bash" caption="Bash" percentage="25 25"}}
        {{> _gauge image="icon_cpp" caption="C++" percentage="12.5 37.5"}}
        {{> _gauge image="icon_cs" caption="C#" percentage="12.5 37.5"}}
        {{> _gauge image="icon_mojo" caption="Mojo" percentage="5 45"}}
    </div>
    <!-- END coding__overview -->
</div>
<!-- END coding -->
