<!-- BEGIN coding -->
<div class="coding">

    <h3 class="coding__subtitle">Techy languages</h3>

    <!-- BEGIN coding__overview -->
    <div class="coding__overview">
        {{> _gauge image="icon_java" caption="Java" percentage="40 10" }}
        {{> _gauge image="icon_javascript_bg" caption="JavaScript" percentage="40 10" }}
        {{> _gauge image="icon_postgresql" caption="SQL"percentage="40 10"}}
        {{> _gauge image="icon_python" caption="Python" percentage="35 15" }}
        {{> _gauge image="icon_cs" caption="C#" percentage="30 20"}}
        {{> _gauge image="icon_cpp" caption="C++" percentage="25 25"}}
        {{> _gauge image="icon_bash" caption="bash" percentage="25 25"}}
    </div>
    <!-- END coding__overview -->

    <p class="coding__message">Need something else?<br/>I'll learn it!</p>
</div>
<!-- END coding -->
