<footer data-html2canvas-ignore>
    <!-- BEGIN footer__links -->
    <div class="footer__links">
        <a href="#" class="footer__links__github">GitHub</a>
        <a href="#" class="footer__links__linkedin">LinkedIn</a>
    </div>
    <!-- END footer__links -->

    <!-- BEGIN footer__developedBy -->
    <div class="footer__developedBy">
        <p>developed by</p>
        <img src="../../assets/icons/Mini_VAN.svg" alt="Vars&Numbers" />
    </div>
    <!-- END footer__developedBy -->

    <button class="footer__print">Print PDF</button>
</footer>
