<footer class="print_not">

    <!-- BEGIN aboutme -->
    <div class="aboutme">

        <!-- BEGIN aboutme__section -->
        <div class="aboutme__section">

            <p>Accounts</p>

            <!-- BEGIN aboutme__links -->
            <div class="aboutme__links">
                <a href="https://github.com/DmitriySevkovych">{{> svg/github }}</a>
                <a href="https://www.linkedin.com/in/dmitriy-sevkovych/">{{> svg/linkedin }}</a>
            </div>
            <!-- END aboutme__links -->
        </div>
        <!-- END aboutme__section -->


        <!-- BEGIN aboutme__print -->
        <div class="aboutme__print aboutme__section">
            <a download="Dmitriy_Sevkovych__CV" href="../../assets/docs/cv.pdf">Download CV</a>
            <a download="Dmitriy_Sevkovych__CV" href="../../assets/docs/cv.pdf">{{> svg/pdf }}</a>
        </div>
        <!-- END aboutme__print -->

        <!-- BEGIN aboutme__developedBy -->
        <div class="aboutme__developedBy aboutme__section">
            <p>Visit us</p>
            <a href="https://varsandnumbers.com/">{{> svg/van }}</a>
        </div>
        <!-- END aboutme__developedBy -->

    </div>
    <!-- END aboutme -->


    <!-- BEGIN legal -->
    <div class="legal">

    </div>
    <!-- END legal -->

</footer>
