<footer class="footer print_not">
    <!-- BEGIN footer__links -->
    <div class="footer__links">
        <a href="https://github.com/DmitriySevkovych">{{> svg/github }}</a>
        <a href="https://www.linkedin.com/in/dmitriy-sevkovych/">{{> svg/linkedin }}</a>
    </div>
    <!-- END footer__links -->

    <!-- BEGIN footer__print -->
    <div class="footer__print">
        <button>Download</button>
    </div>
    <!-- END footer__print -->

    <!-- BEGIN footer__developedBy -->
    <div class="footer__developedBy">
        <p>developed by</p>
        <a href="https://varsandnumbers.com/">{{> svg/van }}</a>
    </div>
    <!-- END footer__developedBy -->
</footer>
