<footer class="print_not">

    <!-- BEGIN aboutme -->
    <div class="aboutme">

        <!-- BEGIN aboutme__section -->
        <div class="aboutme__section">

            <h3>Accounts</h3>

            <!-- BEGIN aboutme__links -->
            <div class="aboutme__links">
                <a href="https://www.linkedin.com/in/dmitriy-sevkovych/">{{> svg/linkedin }}</a>
                <a href="https://github.com/DmitriySevkovych">{{> svg/github }}</a>
            </div>
            <!-- END aboutme__links -->
        </div>
        <!-- END aboutme__section -->

        <!-- BEGIN aboutme__print -->
        <div class="aboutme__section">
            <div class="aboutme__print">
                <a download="Dmitriy_Sevkovych__CV" href="../../assets/docs/cv.pdf">Get PDF</a>
            </div>
        </div>
        <!-- END aboutme__print -->

        <!-- BEGIN aboutme__developedBy -->
        <div class="aboutme__developedBy aboutme__section">
            <h3>Visit us</h3>
            <a href="https://varsandnumbers.com/">{{> svg/van }}</a>
        </div>
        <!-- END aboutme__developedBy -->

    </div>
    <!-- END aboutme -->


    <!-- BEGIN legal -->
    <div class="legal">

        <h3 class="legal__subtitle">Imprint</h3>

        <!-- BEGIN legal__contact -->
        <div class="legal__contact legal__section">
            <p>Dmitriy Sevkovych <span>(self-employed)</span></p>
            <p>dmitriy@sevkovych.com</p>
        </div>
        <!-- END legal__contact -->

        <!-- BEGIN legal__address  -->
        <div class="legal__address legal__section">
            <p>Beskidenstrasse 10</p>
            <p>D-70374 Stuttgart </p>
        </div>
        <!-- END legal__address -->

        <!-- BEGIN legal__vat -->
        <div class="legal__vat legal__section">
            <p>VAT identification number:</p>
            <p>DE 324055442</p>
        </div>
        <!-- END legal__vat -->

        <!-- BEGIN legal__privacy -->
        <div class="legal__privacy legal__section">
            <p>No cookies and no trackers here!</p>
            <a href="legal.html">Read the full privacy statement</a>
        </div>
        <!-- END legal__privacy -->


    </div>
    <!-- END legal -->

</footer>
