<!-- BEGIN header__searchbar -->
<div class="header__searchbar">
    <h2 class="header__searchbar__text">Full-stack dev + DevOps + Machine Learning + MLOps + Mathematics</h2>

    <!-- BEGIN header__searchbar__button -->
    <div class="header__searchbar__button">
        <img src="../../assets/icons/icon_search.svg" alt="Search icon" />
    </div>
    <!-- END header__searchbar__button -->
</div>
<!-- END header__searchbar -->
