<header>

    <h1>
        CURRICULUM VITAE
    </h1>

    <!-- BEGIN header__content -->
    <div class="header__content">

        <!-- BEGIN header__content__picture -->
        <div class="header__content__picture">
            <picture>
                <source srcset="../../assets/img/sevkovych_portrait_512.avif" type="image/avif"/>
                <source srcset="../../assets/img/sevkovych_portrait_512.webp" type="image/webp"/>
                <img src="../../assets/img/sevkovych_portrait_512.jpg" alt="Dmitriy Sevkovych" />
            </picture>
            <h3 class="font_monospaced">
                DMITRIY SEVKOVYCH
            </h3>
        </div>
        <!-- END header__content__picture -->

        <!-- BEGIN header__content__data -->
        <div class="header__content__data">
            <p class="font_monospaced">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit eius et at repellendus quos!
                Doloribus nulla molestiae porro vitae, ipsa nisi recusandae ducimus similique sint fugiat voluptate
                sequi accusamus delectus.
            </p>
        </div>
        <!-- END header__content__data -->
    </div>
    <!-- END header__content -->
</header>
