<header>

    <h1>
        CURRICULUM VITAE
    </h1>

    <!-- BEGIN header__content -->
    <div class="header__content">

        <!-- BEGIN header__content__attention -->
        <div class="header__content__attention">

            <!-- BEGIN header__content__picture -->
            <div class="header__content__picture">
                <picture>
                    <source srcset="../../assets/img/sevkovych_portrait_512.avif" type="image/avif"/>
                    <source srcset="../../assets/img/sevkovych_portrait_512.webp" type="image/webp"/>
                    <img src="../../assets/img/sevkovych_portrait_512.jpg" alt="Dmitriy Sevkovych" />
                </picture>
            </div>
            <!-- END header__content__picture -->

            <h3>
                DMITRIY SEVKOVYCH
            </h3>

        </div>
        <!-- END header__content__attention -->

    </div>
    <!-- END header__content -->
</header>
