<header>

    <!-- BEGIN header__intro -->
    <div class="header__intro">
        <h1 class="header__intro__headline">
            CURRICULUM VITAE
        </h1>

        <h2 class="header__intro__subtitle">
            DMITRIY SEVKOVYCH
        </h2>

        {{!-- <h3 class="header__intro__caption">
            M.Sc. Mathematics
        </h3> --}}
    </div>
    <!-- END header__intro -->

    <!-- BEGIN header__content -->
    <div class="header__content">

        <!-- BEGIN header__content__picture -->
        <div class="header__content__picture">
            <picture>
                {{!-- <source srcset="../../assets/img/sevkovych_portrait_512.avif" type="image/avif"/>
                <source srcset="../../assets/img/sevkovych_portrait_512.webp" type="image/webp"/> --}}
                <img src="../../assets/img/bw_serious.jpg" alt="Dmitriy Sevkovych" />
            </picture>
        </div>
        <!-- END header__content__picture -->

        <!-- BEGIN header__content__data -->
        <div class="header__content__data">

            <h3 class="header__content__data__caption">
                M.Sc. Mathematics
            </h3>

            {{!-- <ul class="header__content__data__contact">
                <li>Email: dmitriy@sevkovych.com</li>
                <li>Web: dmitriy.sevkovych.com</li>
            </ul> --}}
            <div class="header__content__data__contact">
                <p>Email:</p> <p>dmitriy@sevkovych.com</p>
                <p>Web:</p> <p>dmitriy.sevkovych.com</p>
            </div>

            <!-- BEGIN header__content__data__languages -->
            <div class="header__content__data__languages">

                {{> _bubble text="C2" textStyles="lang__C2" caption="English" size="bubble_regular"}}
                {{> _bubble text="C2" textStyles="lang__C2" caption="German" size="bubble_regular"}}
                {{> _bubble text="C2" textStyles="lang__C2" caption="Russian" size="bubble_regular"}}
                {{> _bubble text="C1" textStyles="lang__C1" caption="Ukrainian" size="bubble_regular"}}
                {{> _bubble text="B2" textStyles="lang__B2" caption="French" size="bubble_regular"}}

            </div>
            <!-- END header__content__data__languages -->

        </div>
        <!-- END header__content__data -->
    </div>
    <!-- END header__content -->

    {{> header_searchbar}}
</header>
