<!-- BEGIN privacy -->
<div class="privacy">
    <h1>Privacy statement</h1>
    <p>
        With this privacy statement, Dmitriy Sevkovych (hereinafter
        referred to as <strong>"we"</strong> or <strong>"us"</strong>) would like to
        inform you about how we process your personal data.
    </p>
    <p>
        Personal data means all information which can, directly or indirectly, be
        related to you, e.g. name, address, phone number, or email address (hereinafter
        referred to as <strong>"personal data"</strong>). Processing means any activity
        in relation to personal data, e.g. collection, recording, alteration, retrieval,
        use, disclosure or erasure of data (hereinafter referred to as <strong>"to process"</strong>
        or <strong>"processing"</strong>).
    </p>

    <h2>1. Controller: Identity and Contact Details</h2>
    <p>Who we are:</p>
    <ul id="aboutme">
        <li>Dmitriy Sevkovych</li>
        <li>Beskidenstraße 10</li>
        <li>70374 Stuttgart, Germany</li>
        <li>email address: dmitriy@sevkovych.com</li>
        <li>phone: +49 177 / 837-11-63</li>
    </ul>

    <h2>2. Categories of Personal Data, Intended Purpose of Data Processing, Legal Bases, and Duration of
        Storage</h2>
    <h3>2.1 Visiting our Website dmitriy.sekovych.com</h3>
    <h4>2.1.1 Server-Log-Files</h4>
    <p>
        For systemic reasons, during the visit of our website information is
        being generated and stored in so-called server log files, which your
        browser automatically transfers to us. These are:
    <ul>
        <li>IP address of the terminal accessing our website;</li>
        <li>date and time of access;</li>
        <li>name and URL of the file retrieved;</li>
        <li>notice whether the retrieval was successful;</li>
        <li>referrer URL (website from which the access took place) or, respectively, the name of the access
            provider; and</li>
        <li>browser and operating system used.</li>
    </ul>
    </p>
    <p>
        For us, these data are not directly attributable to a specific person. The
        data are being stored separately from other personal data; the data are not
        consolidated with other data sources.<br/>
        The legal basis for the temporary storage of this data is Article 6 para. 
        1 sentence 1 lit. f General Data Protection Regulation (<strong>"GDPR"</strong>),
        as far as personal data are involved in the first place. In order to enable
        the delivery of the website to the user’s computer, it is necessary, for
        technical reasons, that the system temporarily stores the IP address. The
        storage in log files takes place in order to ensure the functionality of
        the website. Therein also lies our overriding legitimate interest in the
        data processing according to Article 6 para. 1 sentence 1 lit. f GDPR. <br/>
        The data are erased as soon as they are no longer necessary for achieving
        the purpose of their collection. In case data are collected for making the
        website available, this will happen once the respective session has ended.
        In the case of data stored in log files, these data will be erased after 7 
        days at the latest.
    </p>

    <!-- <h4>2.1.2 Google Analytics</h4>
      <p>
        On our website we use Google Analytics, a web analysis service of Google
        Ireland Limited, Gordon House, Barrow Street, Dublin 4, Ireland("Google"). <br/>
        Google Analytics uses cookies and creates pseudonymised usage profiles.
        The information created by the cookie regarding your use of our website
        (type and version of browser, operating system, referrer URL, IP address
        and time of the server request) will usually be transferred to a server of
        Google in the USA and will be stored there. Prior to that, your IP address
        will be shortened by Google within the member states of the European Union
        or other countries which are contracting parties to the Agreement on the
        European Economic Area and will be anonymized in a way that it can no longer
        be attributed to you (IP anonymization). The IP address will not be combined
        with other data of Google. On our behalf Google will use the information
        collected in order to analyze your use of our website, to compile reports
        on your website activities, and to provide further services in connection
        with the use of our website and the Internet. <br/>
        Google is certified under the EU-U.S. Privacy Shield agreement and thus
        guarantees to comply with European data protection law. Information on the
        EU-U.S. Privacy Shield agreement can be found under the following link:
        <a href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active">https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active</a>
        The personal data will be erased or anonymized after 14 months. <br/>
        Insofar as personal data are concerned and we pass on data to third parties,
        the legal basis for the data processing is your consent (Article 6 para. 
        1 sentence 1 lit. a GDPR). In addition, we base the data processing on our
        overriding legitimate interests (Article 6 para. 1 sentence 1 lit. f GDPR)
        in the operation, analysis, and optimization of our website.  <br/>
        You can prevent the storage of cookies by rejecting the cookie banner and
        by using an appropriate setting of your browser software. However, we would
        like to point out that in this case you may possibly not be able to fully
        use all the functions of our online presence. Furthermore, you can prevent
        the collection and processing by Google of the data generated by the cookie
        relating to your use of our website (including your IP address) by downloading
        and installing the browser add-on available under the following link:
        <a href="http://tools.google.com/dlpage/gaoptout?hl=de">http://tools.google.com/dlpage/gaoptout?hl=de.</a> <br/>
        As an alternative to the browser-add-on, you can also prevent the collection
        of the data by Google Analytics by <a onclick="alert('Tracking by Google Analytics has been
        deactivated in your browser for this website.');" href="javascript:gaOptout()">activating the following link</a>.
        This places an opt-out cookie on your terminal device which prevents the
        future collection of your data when you visit our website. Please note
        that this opt-out cookie applies only to this specific browser and only
        to our website. Please also note that you have to set this cookie again
        should you delete the cookies in your browser. <br/>
        Further information on the data processing in connection with Google
        Analytics can be found on Google’s website under the following link:
        <a href="https://policies.google.com/privacy">https://policies.google.com/privacy</a>.
      </p> -->

    <h3>2.2 Communication via Email or Other Channels</h3>
    <p>
        If you communicate with us by using a email or other channel,
        we process your personal data to handle your request. These data include e.g.:
    </p>
    <ul>
        <li>contact details, e.g. name, email address, postal address, phone number (if provided), as well as
        </li>
        <li>content data of the communication.</li>
    </ul>
    <p>
        The legal basis for processing the data is Article 6 para. 1 sentence 1 lit. b
        GDPR. According to this provision, we are allowed to process data wherever
        the processing is necessary for the performance of a contract to which you
        are a party or in order to take steps prior to entering into a contract.
        Besides, we base the data processing on our overriding legitimate interests
        (Article 6 para. 1 sentence 1 lit. f GDPR). <br/>
        Please note that, in general, data is not always transmitted securely on
        the Internet. Especially in email traffic the protection of data cannot
        be guaranteed during the exchange of data. We recommend that you do not
        send any particularly sensitive data to us by email.
    </p>

    <h3>2.3 Other Communication with (Potential) Contracting Parties</h3>
    <p>
        n case you – as a customer, service provider, or other contracting party
        – seek to enter into a contractual relationship with us, or already have
        entered into a such a relationship, we process data necessary for the
        performance of the contract like
    </p>
    <ul>
        <li>basic data, e.g. name, address, subject matter and duration of the contract, etc.; as well as</li>
        <li>payment information, e.g. bank details, payment history.</li>
    </ul>
    <p>
        The legal basis for data processing is Article 6 para. 1 sentence 1 lit. b
        GDPR. According to this provision, we are allowed to process data insofar
        as the processing is necessary for the performance of a contract to which
        you are a party or if the processing is necessary for the implementation
        of pre-contractual measures. <br/>
        DThe data will be deleted as soon as their processing is no longer necessary.
        This means that the data will be erased once the contractual relationship
        has ended, potential warranty claims have expired, and we are no longer
        obligated by legal record-keeping requirements to store the data beyond
        this point. Such record-keeping requirements could arise e.g. from the
        relevant legal provisions in German commercial and fiscal law, namely
        sections 238 et seq. and 257 of the German Commercial Code and section 147
        of the Fiscal Code of Germany.
    </p>

    <h3>2.4 Use of our Online Presences on Social Platforms (Twitter, LinkedIn or GithHub)</h3>
    <p>
        We maintain online presences on several social platforms in order to communicate
        with the users who are active on these platforms. At present, we maintain
        online presences Twitter, LinkedIn and GitHub.
    </p>
    <h4>2.4.1 Processing of Data by Social Platforms </h4>
    <p>
        <strong>We would like to point out that you use the social platforms solely
            on your own responsibility.</strong> The use of the social platforms is
        not necessary for contacting us. You can also communicate with us using
        the contact details given in section 1 of this privacy statement. <br/>
        <strong>We have no influence on the data processed by the social platforms
            and on the scope of this data processing.</strong> This applies in particular
        to the use of interactive functions (e.g. sending, sharing or rating of
        messages). The following information can be found hereafter: information
        on who is responsible for the social media used by us; information regarding
        the purposes for which – according to their own statements – the social
        platforms process data; information about the safeguards which justify a
        data transfer to other EU countries; information on settings you may use
        on the platforms in order to protect your privacy:
    </p>
    <ul>
        <li>LinkedIn: <br/>
            our online presence: <a
                href="https://www.linkedin.com/in/dmitriy-sevkovych">https://www.linkedin.com/in/dmitriy-sevkovych</a>;
            <br/>
            responsible for the social platform: LinkedIn Ireland Unlimited Company
            Wilton Place, Dublin 2, Ireland; Privacy Statement:
            <a href="https://www.linkedin.com/legal/privacy-policy">https://www.linkedin.com/legal/privacy-policy</a>;
            EU-US-Privacy Shield: <a
                href="https://www.privacyshield.gov/participant?id=a2zt0000000L0UZAA0&status=Active">https://www.privacyshield.gov/participant?id=a2zt0000000L0UZAA0&status=Active</a>;
            notification settings and privacy settings:
            <a
                href="https://www.linkedin.com/psettings/guest-controls">https://www.linkedin.com/psettings/guest-controls</a>;
        </li>
        <li>GitHub: <br/>
            our online presence: <a href="https://github.com/DmitriySevkovych">https://github.com/DmitriySevkovych</a>;
            <br/>
            responsible for the platform: GitHub, Inc., 88 Colin P Kelly Jr Street,
            San Francisco, California 94107, USA; Privacy Statement:
            <a
                href="https://help.github.com/en/articles/github-privacy-statement">https://help.github.com/en/articles/github-privacy-statement</a>;
            EU-US-Privacy-Shield: <a
                href="https://www.privacyshield.gov/participant?id=a2zt000000001K2AAI&status=Active">https://www.privacyshield.gov/participant?id=a2zt000000001K2AAI&status=Active</a>.
        </li>
    </ul>
    <p>
        When using social platforms, your personal data will be collected, transferred,
        stored, disclosed, and used by those responsible. Regardless of your place
        of residence, your data will thereby be transferred to and used in the
        United States and any other country where the social platform does business.
        <strong>The providers of the social platforms are non-European companies
            which at most consider themselves to be bound by European data protection
            provisions to a limited extent only.</strong> This can for example have
        an impact on the rights granted to you by the GDPR as a data subject. <br/>
        As a general rule, the social platforms process the following data:
    </p>
    <ul>
        <li>
            data you have voluntarily entered, e.g. name, login data, contact data,
            and potentially data regarding contacts from your address book (insofar
            as you upload or synchronize your address book);
        </li>
        <li>
            data which can be derived from the contents shared by you (e.g. interest
            in specific topics);
        </li>
        <li>
            data which can be derived from your communication with third parties or
            from the circumstances of your communication, e.g. contents of confidential
            messages, information related to your location, information regarding wireless
            networks, etc.;
        </li>
        <li>
            data which is created when you view content (also without having created
            an account), e.g. IP address, type of browser, operating system, information
            about the website you have visited before, etc.
        </li>
    </ul>
    <p>
        Additionally, the social platforms may possibly use analysis tools and
        cookies for the analysis for your data. Insofar as analysis tools and cookies
        are being used, we have not commissioned their use nor have we supported
        it in any other way. Insofar as personal data are being analyzed, these
        data are not made available to us. Only non-personal information (e.g.
        regarding tweet activities) are accessible to us.<br/>
        You have the possibility to limit the processing of your data. To do so,
        please use the general settings of your accounts on the social platforms
        (e.g. under the section "Data Protection and Safety"). In case of access
        by mobile device, please use your mobile device’s settings (e.g. limiting
        the access options to contact data and calendar data). <br/>
    </p>
    <h4>2.4.2 Processing of Data by Us</h4>
    <p>
        We also process your personal data when you use the social platforms. We
        do not collect any of your personal data through our accounts. However,
        the data entered by you (e.g. user name, posts) will potentially be used
        by us to reply to you or to share (retweet) your posting. In this way,
        the data disclosed by you will be made accessible to our followers. <br/>
        To this data processing, the principles described in section 2.2 of this
        privacy statement apply accordingly.
    </p>

    <h3>2.5 No Legal or Contractual Obligation to Provide Your Personal Data</h3>
    <p>
        There is no legal obligation for you to provide your personal data to us.
        This means that you are not required to provide your personal data to us.
        If, however, you do not provide your personal data to us, this could
        potentially result in our potential inability to communicate with you,
        to enter into a contract with you or to perform a contract.
    </p>

    <h2>3. Transfer of Your Personal Data to Recipients</h2>
    <p>
        Generally, a transfer of your data does not occur unless explicitly stated
        in section 2 of this privacy statement. As far as data are transferred
        during the processing procedures mentioned in section 2 to the servers
        of providers commissioned by us with providing tracking or targeting
        technologies or are transferred to the servers of providers of social
        platforms in the United States, this data transfer takes place according
        to the principles of the so-called "EU‑U.S. Privacy Shield". For more
        information on the EU-U.S: Privacy shield, please follow the hyperlinks
        in section 2.4.1 of this privacy statement.
    </p>

    <h2>4. Your Rights (Including Your Right to Object)</h2>
    <p>
        According to applicable data protection laws you have the following rights:
    </p>
    <ul>
        <li><strong>Right of access:</strong> You have the right to obtain confirmation
            as to whether or not personal data concerning you are being processed by
            us. Where that is the case, you have the right to obtain access to these
            personal data and further information concerning their processing (Article 
            15 GDPR). Please note that in certain cases this right may be restricted
            or excluded.
        </li>
        <li><strong>Right to rectification:</strong> In case personal data concerning
            you are not (any longer) accurate or are incomplete, you can demand
            rectification of such data and, as the case may be, completion of incomplete
            data (Article 16 GDPR).
        </li>
        <li><strong>Right to erasure and right to restriction of processing:</strong>
            If legal requirements are met, you can demand erasure of your personal
            data (Article 17 GDPR) or restriction of the processing of these data
            (Article 18 GDPR), e.g. if the processing of these data is no longer
            necessary in relation to the purposes for which these data were collected
            by us.
        </li>
        <li><strong>Right to be notified:</strong> If you have asserted your right
            to rectification, erasure or restriction of processing against us, we
            are obligated to communicate this rectification, erasure or restriction
            of processing of your personal data to each recipient to whom these data
            have been disclosed, unless this proves impossible or involves a
            disproportionate effort. You have the right to request information about
            these recipients from us.
        </li>
        <li><strong>Right to data portability:</strong> Under certain conditions,
            you have the right to receive personal data concerning you, which you
            have provided to us, in a specific format or to transmit those data to
            another controller (Article 20 GDPR).
        </li>
        <li><strong>Right to lodge a complaint with a supervisory authority:</strong>
            You can lodge a complaint against the processing of your personal data
            by us with a data protection authority, in particular in the EU member
            state of your habitual residence, place of work or place of the alleged
            infringement of applicable data protection laws (Article 77 GDPR). <br/>
            The contact details of the supervisory authority at our registered place
            of business are as follows: <br/>
            Der Landesbeauftragte für den Datenschutz Baden-Württemberg <br/>
            Königstraße 10a <br/>
            70173 Stuttgart <br/>
            Germany <br/>
            <br/>
            telephone: +49-711/615541-0 <br/>
            fax: +49-711/615541-15 <br/>
            email: poststelle(at)lfd.bwl.de
        </li>
    </ul>
    <p class="mx-auto mx-md-5 highlighted">
        Furthermore, <strong>you have the right to object to processing of personal
            data concerning you </strong> (i) at any time where such data are processed
        for direct marketing purposes or, otherwise, (ii) on grounds relating
        to your particular situation in cases where we process your personal
        data based on our legitimate interests according to Article 6 para. 1
        sentence 1 lit. f GDPR (Article 21 para. 1 and para. 2 GDPR). <br/>
        <br/>
        In the event of objection, we will cease processing your personal data in
        any case insofar as the processing takes place for direct marketing purposes. <br/>
        <br/>
        We will generally also cease to process your personal data for any other
        reason, unless we can demonstrate compelling legitimate grounds for the
        processing which override your interests, rights and freedoms or for the
        establishment, exercise or defence of legal claims.
    </p>

    <p>
        In order to exercise your above-mentioned rights, certain legal requirements
        need to be met. Also, in certain cases, your rights may be limited by legal
        exceptions, especially by those stated in Article 17 para. 3 and Article 22
        para. 2 GDPR or in national laws. <br/>
        <br/>
        <strong>In case of questions or in order to assert your rights, please contact
            us under the contact details mentioned in section 1 of this privacy statement
            above.</strong>
    </p>
</div>
<!-- END privacy -->
