<!-- BEGIN timeline -->
<div class="timeline print_not">

    <!-- BEGIN timeline__bsc -->
    <div class="timeline__bsc">
        <h4 class="timeline__bsc__title">B.Sc. Mathematics,<br/>University of Stuttgart</h4>
        <p>Minor: Economics</p>
    </div>
    <!-- END timeline__bsc -->

    <!-- BEGIN timeline__mercedes -->
    <div class="timeline__mercedes">
        <h4 class="timeline__mercedes__title">Mercedes-Benz Bank AG</h4>
        <p>02.05.2014 - 31.10.2014<br/>Internship, Dep. Risk Provisioning</p>
    </div>
    <!-- END timeline__mercedes -->

    <!-- BEGIN timeline__msc -->
    <div class="timeline__msc">
        <h4 class="timeline__msc__title">M.Sc. Mathematics,<br/>University of Stuttgart</h4>
        <p>Minor: Physics</p>
    </div>
    <!-- END timeline__msc -->

    <!-- BEGIN timeline__ey -->
    <div class="timeline__ey">
        <h4 class="timeline__ey__title">Ernst & Young GmbH</h4>
        <p>02.05.2015 - 30.04.2017<br/>Internship, Dep. Client Technology</p>
    </div>
    <!-- END timeline__ey -->

    <!-- BEGIN timeline__twt -->
    <div class="timeline__twt">
        <h4 class="timeline__twt__title">TWT GmbH</h4>
        <p>03.07.2017 - 31.05.2019<br/>Systems Engineer,<br/>Embedded Systems & Automation</p>
    </div>
    <!-- END timeline__twt -->

    <!-- BEGIN timeline__freelance -->
    <div class="timeline__freelance">
        <h3>SELF-EMPLOYMENT</h3>
    </div>
    <!-- END timeline__freelance -->

    <!-- BEGIN timeline__van -->
    <div class="timeline__van">
        <h4 class="timeline__van__title">Vars&Numbers</h4>
        <p>01.06.2019 - present<br/>Freelancer,<br/>Software & Mathematics</p>
    </div>
    <!-- END timeline__van -->

</div>
<!-- END timeline -->
