<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{#block "head"}}
        <title>Dmitriy Sevkovych</title>
        <meta name="description" content="Freelance full-stack developer, data scientist, mathematician" />

        <meta itemprop="name" content="Dmitriy Sevkovych" />
        <meta itemprop="description" content="Freelance full-stack developer, data scientist, mathematician" />
        {{!-- <meta itemprop="image" content="TODO" /> --}}

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="Dmitriy Sevkovych" />
        <meta name="twitter:description" content="Freelance full-stack developer, data scientist, mathematician" />
        {{!-- <meta name="twitter:image" content="TODO" /> --}}

        <meta property="og:site_name" content="Dmitriy Sevkovych" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://dmitriy.sevkovych.com" />
        <meta property="og:title" content="Dmitriy Sevkovych" />
        <meta property="og:description" content="Freelance full-stack developer, data scientist, mathematician" />
        {{!-- <meta property="og:image" content="TODO" /> --}}

        {{!-- <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
        <link rel="manifest" href="/favicon/site.webmanifest" />
        <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#ff8908" /> --}}
        <meta name="apple-mobile-web-app-title" content="Dmitriy Sevkovych" />
        <meta name="application-name" content="Dmitriy Sevkovych" />
        {{!-- <meta name="msapplication-TileColor" content="#da532c" /> --}}
        <meta name="theme-color" content="#ffffff" />
    {{/block}}
</head>

<body>
    {{#block "content"}}
    {{/block}}

    {{#block "foot"}}
    {{/block}}
</body>

</html>
