.bubble
	display: flex
	flex-direction: column
	align-items: center

	&__main
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center

		background-color: $color-bg-highlight
		border-radius: 50%

		position: relative // for the inset shadow
		// see _helpers.sass for helper definition!
		+inset-shadow

		// Icon size
		img
			width: 55%

	&_regular
		padding-right: dpi-corrected(2rem)

		.bubble
			&__main
				width: 2rem
				height: 2rem

			&__caption
				margin-top: 0.1rem

	&_big
		.bubble
			&__main
				width: 2.5rem
				height: 2.5rem

			&__caption
				margin-top: 0.2rem
