.gauge
	display: flex
	flex-direction: column
	align-items: center

	&__main
		height: dpi-corrected(165px) // TODO check size
		width: dpi-corrected(165px) // TODO check size
		border: solid 1px red // TODO temporary
		img
			max-width: dpi-corrected(65px) // TODO check size
