// Variables for swiper padding
$education__item-shadow-left: 6.19048px
$education__item-shadow-right: 6.19048px

.education__item
    display: flex
    flex-direction: column
    height: 100%
    width: 100%

    @include print-corrected(padding, $top:40px, $bottom:40px, $left:30px, $right:30px)

    box-shadow: -3.09524px -3.09524px $education__item-shadow-left #FAFBFF, 3.09524px 3.09524px $education__item-shadow-right #A6ABBD
    @include print-corrected(border-radius, $value:34px)

    &__body
        display: flex
        flex-direction: column

        &__block
            display: grid
            grid-template-columns: 1fr 4fr
            @include print-corrected(grid-gap, $value:32px)
            align-items: baseline

        &__left
            font-family: $font-headlines !important
            color: $color-font-caption !important
            @include print-corrected(width, $value:120px)
            @include print-corrected(padding, $top:36px, $bottom:0, $left:0, $right:36px)

        &__right
            @include print-corrected(padding, $right:36px)
