.career

	// career__projects block
	&__projects
		display: flex
		flex-wrap: wrap
		@include print-corrected(margin, $bottom:50px)

	// career__education block
	&__education
		display: flex
		flex-direction: column
		align-items: flex-start
		@include print-corrected(margin, $bottom:32px)

		&__subtitle
			@include print-corrected(margin, $bottom:24px)

		&__items
			display: flex
			align-items: baseline
			justify-content: space-between
			margin-bottom: 1%

			@media screen and ( max-width: $bp-mobile-to-a4  )
				flex-direction: column

	@import career_project_item
	@import career_education_item
