.career

	// career__projects block
	&__projects
		display: flex
		flex-wrap: wrap
		align-items: flex-start

	// career__education block
	&__education
		padding: 1rem // TODO: temporary
		display: flex
		align-items: center

	&__visit
		display: none
		text-transform: uppercase
		text-align: center

		span
			// color: $color-grey-dark

	@import career_project_item
	@import career_education_item
