.education__item
	display: flex
	flex-direction: column
	box-shadow: -3.09524px -3.09524px 6.19048px #FAFBFF, 3.09524px 3.09524px 6.19048px #A6ABBD
	border-radius: 9.59678px
	margin: 1rem // TODO temporary

	@media print
		max-width: 30%


	&__head

		&__title
			text-transform: uppercase

	&__body
		display: flex
		flex-direction: column

		&__block
			display: flex
			justify-content: space-between

		&__left
			font-family: $font-headlines !important

