.education__item
	display: flex
	flex-direction: column
	flex-grow: 1
	height: 100%
	width: 100%

	// own layout
	width: 49%
	margin: 1%
	@include print-corrected(padding, $top:40px, $bottom:40px, $left:50px, $right:50px)

	&:nth-child(even)
		margin-right: 0 !important

	&:nth-child(odd)
		margin-left: 0 !important

	box-shadow: -3.09524px -3.09524px 6.19048px #FAFBFF, 3.09524px 3.09524px 6.19048px #A6ABBD
	@include print-corrected(border-radius, $value:34px)

	&__body
		display: flex
		flex-direction: column

		&__block
			display: grid
			grid-template-columns: 1fr 2fr
			@include print-corrected(grid-gap, $value:32px)
			align-items: baseline

		&__left
			font-family: $font-headlines !important
			color: $color-font-caption !important

		&__right
			@include print-corrected(padding, $right:36px)
