.swiper
    position: relative

    &-container
        margin-left: -$education__item-shadow-left
        margin-top: -$education__item-shadow-left
        // margin-right: -$education__item-shadow-right

    &-wrapper
        @include print-corrected(padding, $bottom:32px)
        padding-left: $education__item-shadow-left
        padding-top: $education__item-shadow-left
        // padding-right: $education__item-shadow-right

    &-button
        display: flex

    &-button-prev, &-button-next
        cursor: pointer
        color: $color-grey-light
        transition: color 300ms ease-in-out
        position: relative !important
        margin-top: 0 !important
        width: auto
        height: auto

        &:hover
            color: $color-accent

        &:after
            @include print-corrected(font-size, $value:48px)

    &-button-prev
        left: 0 !important
        margin-right: 15px
        // left: dpi-corrected(-102px) !important

    &-button-next
        right: 0 !important
        // right: dpi-corrected(-102px) !important

    &-slide
        max-width: 30%
        height: auto

        @media print
            max-width: 37%
