.project__item
	// own display
	display: flex
	flex-direction: column
	justify-content: space-between

	// shadows
	box-shadow: -3.09524px -3.09524px 6.19048px #FAFBFF, 3.09524px 3.09524px 6.19048px #A6ABBD // TODO values are probably temporary
	border-radius: 9.59678px // TODO value is probably temporary

	// own layout
	width: 49%
	margin: 1%
	padding: dpi-corrected(40px) dpi-corrected(50px)

	&:nth-child(even)
		margin-right: 0 !important

	&:nth-child(odd)
		margin-left: 0 !important

	&__head
		// own display
		display: grid
		grid-template-columns: 20% auto 1rem
		grid-gap: dpi-corrected(36px)

		&__date
			// own display
			display: flex
			flex-direction: column
			align-items: center

		&__icon

			display: flex
			align-items: center
			justify-content: center

			cursor: pointer
			transition: transform 300ms ease-in-out

			svg
				// size constraint
				width: 1rem
				// for hover effect
				fill: $color-grey-light
				transition: fill 300ms ease-in-out

			// icon hover effect
			&:hover
				svg
					fill: $color-accent

	&__body
		display: none // is overwritten to 'flex' by .is-open class (which is toggled on click)
		flex-direction: column
		justify-content: center

		// to avoid masonry style, esp. important for printing
		min-height: dpi-corrected(600px)

		&__blocks
			// for parent display flex
			flex: 1

			// for own display
			display: grid
			grid-template-columns: 20% auto
			grid-gap: dpi-corrected(36px)

		// ATTENTION: this is the left part of __blocks
		&__left
			display: flex
			align-items: center
			justify-content: center

		// ATTENTION: this is the right part of __blocks
		&__right
			display: flex
			flex-direction: column
			justify-content: center

		&__description
			padding-bottom: dpi-corrected(36px)

		&__techs
			// for parent diplay flex
			justify-self: end

			// for own display
			display: grid
			grid-template-columns: repeat( 6, 1fr )


// Styles for item open state
.is_open.project__item
	// Flip the icon when item is opened
	.project__item__head__icon
		transform: rotate(180deg)
	// Show the body when item is opened
	.project__item__body
		display: flex
