.header__searchbar
	position: relative

	display: flex
	flex: 1
	justify-content: space-between
	align-items: center

	padding: dpi-corrected(25px) dpi-corrected(54px)
	margin-bottom: dpi-corrected(33px)

	background-color: $color-bg-highlight
	box-shadow: inset -0.479839px -0.479839px 0.959677px rgba(255, 255, 255, 0.5), inset 0.479839px 0.479839px 0.959677px rgba(170, 170, 204, 0.25), inset 1.1996px 1.1996px 2.39919px rgba(170, 170, 204, 0.5), inset -1.1996px -1.1996px 2.39919px #FFFFFF
	border-radius: 11.996px

	&__text
		color: $color-font-description !important

	&__button
		position: absolute
		width: dpi-corrected(72px)
		height: dpi-corrected(72px)
		right:  dpi-corrected(29px)
		top: calc(50% - dpi-corrected(72px)/2)
		border-radius: 50%
		box-shadow: 1.1996px 1.1996px 2.39919px rgba(170, 170, 204, 0.5), -1.1996px -1.1996px 2.39919px #FFFFFF

		img
			position: absolute
			top: dpi-corrected(12px)
			left: dpi-corrected(12px)
			width: dpi-corrected(48px)
			height: dpi-corrected(48px)

// Mobile
@media screen and ( max-width: $bp-mobile-to-a4 )
	.header__searchbar
		overflow-y: hidden
		max-height: 43px
		display: inline-block

		&__button
			right: 9px
			top: 9px

