.header

	&__intro
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center

		&__headline, &__subtitle, &__caption
			color: $color-font-headline !important

		&__headline
			padding-bottom: dpi-corrected(29px)

		&__subtitle
			letter-spacing: 0.5em
			padding-bottom: dpi-corrected(22px)

		&__caption
			letter-spacing: 0.2em

	&__content
		display: flex
		align-items: flex-end
		padding-top: dpi-corrected(20px)
		padding-bottom: dpi-corrected(40px)

		&__attention
			display: flex
			flex-direction: column
			align-items: center

		&__picture
			margin-top: dpi-corrected(-40px)
			position: relative // for the inset shadow on the picture
			margin-left: 150px
			margin-right: 20px

			// see _helpers.sass for helper definition!
			+inset-shadow(true)

			img
				max-width: dpi-corrected(356px)
				border-radius: 50%

		&__data

			&__contact
				margin-bottom: dpi-corrected(47px)

			&__languages
				display: flex

				.lang__C2
					color: $color-grey-dark
					font-family: $font-headlines
					font-size: 10px

				.lang__C1
					color: $color-grey
					font-family: $font-headlines
					font-size: 10px

				.lang__B2
					color: $color-grey-light
					font-family: $font-headlines
					font-size: 10px

	&__searchbar
		position: relative

		display: flex
		flex: 1
		justify-content: space-between
		align-items: center

		padding: dpi-corrected(25px) dpi-corrected(54px)
		margin-bottom: dpi-corrected(33px)

		background-color: $color-bg-highlight
		box-shadow: inset -0.479839px -0.479839px 0.959677px rgba(255, 255, 255, 0.5), inset 0.479839px 0.479839px 0.959677px rgba(170, 170, 204, 0.25), inset 1.1996px 1.1996px 2.39919px rgba(170, 170, 204, 0.5), inset -1.1996px -1.1996px 2.39919px #FFFFFF
		border-radius: 11.996px

		&__text
			color: $color-font-description !important

		&__button
			position: absolute
			width: dpi-corrected(72px)
			height: dpi-corrected(72px)
			right:  dpi-corrected(29px)
			top: calc(50% - dpi-corrected(72px)/2)
			border-radius: 50%
			box-shadow: 1.1996px 1.1996px 2.39919px rgba(170, 170, 204, 0.5), -1.1996px -1.1996px 2.39919px #FFFFFF

			img
				position: absolute
				top: dpi-corrected(12px)
				left: dpi-corrected(12px)
				width: dpi-corrected(48px)
				height: dpi-corrected(48px)
