header
	background-color: $color-bg-dark

	h1
		color: $color-font-on-bg-dark

	.header__content
		color: $color-font-on-bg-dark
		display: flex
		justify-content: center
		align-items: center

		&__attention
			display: flex
			flex-direction: column
			align-items: center

		&__picture
			img
				max-width: 15rem

		&__data
			color: $color-font-json

			&__key
				color: $color-font-json-key
